.App {
  margin: auto;
  text-align: center;
  width: 50%;
  min-width: 400px;
  max-height: 100vh;
}

/* 
  Misc Styles
*/
.username-span{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* 
  ChatBox component styles
*/
.chat-box-wrapper{
  background-color: rgb(11, 141, 255);
  padding: 0 1.5%;
  max-height: 84vh;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 16px;
}
.message-wrapper{
  text-align: left;
  padding: 2%;
  background-color: rgb(174, 235, 255);
  border-radius: 16px;
  margin: 1.5% 0;
}
.message-wrapper h3{
  font-size: .75rem;
  margin: 0;
}
.message-wrapper p {
  margin: 2.5px 0;
  text-indent: 22px;
}
.message-wrapper:nth-child(odd){
  background-color: rgb(104, 197, 255);
}


/* 
  TextField component styles
*/
.text-field-wrapper{
  width: 100%;
  margin: 2% 0;
}
.text-field-form-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text-field-input{
  width: 87%;
  height: 30px;
  font-size: 14px;
  border-radius: 12px;
  padding: 0px 6px;
  margin-right: 4px;
}
.send-button{
  width: 10%;
  height: 35px;
  border-radius: 12px;
  background-color: lightgray;
  min-width: 48px;
}
.send-button:hover{
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}